<h1><%= @user.name %>さんがフォローしている人</h1>
<div class="row">
	<div class="col col-md-offset-2 col-md-8">
		<ul style="list-style: none;" class="followlists">
			<% @followings.each do |following| %>
				<li class="clearfix" style>
					<%= link_to gravatar_for(following, size: 50), following %>
					<span class="user"><%= link_to following.name, following %></span>
					<span class="content"><%= following.profile %></span>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="col col-md-2">
	</div>
</div>